{% include "base.html" %}
{% load static %}

<body class="sub_page">
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
            <a class="navbar-brand mr-5">
              <span>
                Htop Topography
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav  ">
                  <li class="nav-item ">
                    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'projectlist'%}"> Our Projects </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>
  
    <div class="body_bg layout_padding">
  
      <!-- service section -->
    
      <section class="service_section ">
        <div class="container">
          <div class="heading_container">
            <h2>
              Our projects
            </h2>
          </div>
        </div>
        
         
        <div class="container">
          <div class="row">
            {% for project in projects %}
            <div class="col-md-6">
              <div class="box">
                <h4>
                  {{ project.name_project }}
                </h4>
                <p>
                  It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                  of
                  letters, as opposed to using 'Content here, content t,
                </p>
                <a href="{% url 'project' slug=project.slug %}">Read More</a>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </section>
  
      <!-- end service section -->
  
    </div>
    <section class="container-fluid footer_section">
      <p>
        Copyright &copy; 2019 All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </section>
</body>